<div class="container">
    <div class="row">
        <div class="col-md-6 form-group" id="buscaGrupo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <label>Materia</label>
                        <select class="form-control">
                            <!--//TODO: Hacer una consulta que ponga todas las materias-->
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Grupo</label>
                        <input type="number" class="form-control" />
                    </div> 
                </div>
            </div>
        </div>
        <div id="dias_horas" class="col-md-4 text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <label>De</label>&nbsp;<input type="number" name="ini" />&nbsp;
                    </div>
                    <div class="col-md-6">
                        <label>A</label>&nbsp;<input type="number" name="fin" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="dias" class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>L</label><br />
                                    <input type="checkbox" name="dias" value="L">
                                </div>
                                <div class="col-md-2">
                                    <label>M</label><br />
                                    <input type="checkbox" name="dias" value="M">
                                </div>
                                <div class="col-md-2">
                                    <label>Mi</label><br />
                                    <input type="checkbox" name="dias" value="Mi">
                                </div>
                                <div class="col-md-2">
                                    <label>J</label><br />
                                    <input type="checkbox" name="dias" value="J">
                                </div>
                                <div class="col-md-2">
                                    <label>V</label><br />
                                    <input type="checkbox" name="dias" value=V">
                                </div>
                                <div class="col-md-2">
                                    <label>S</label><br />
                                    <input type="checkbox" name="dias" value="S">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="ui-button">Buscar</button>
            <button class="ui-button">Exportar</button>
        </div>
    </div>
</div>
