@{
    Layout = null;
}
@model List<OrigenDatos.Clases.Materia>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <label>De</label>&nbsp;<input type="number" name="ini" value="7" />&nbsp;
                    </div>
                    <div class="col-md-6">
                        <label>A</label>&nbsp;<input type="number" name="fin" value="22" />
                    </div>
                </div>
            </div>
        </div>
        <div id="dias_horas" class="col-md-6 text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="dias" class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>L</label><br />
                                    <input type="checkbox" name="dias" value="L" checked>
                                </div>
                                <div class="col-md-2">
                                    <label>M</label><br />
                                    <input type="checkbox" name="dias" value="M" checked>
                                </div>
                                <div class="col-md-2">
                                    <label>Mi</label><br />
                                    <input type="checkbox" name="dias" value="Mi" checked>
                                </div>
                                <div class="col-md-2">
                                    <label>J</label><br />
                                    <input type="checkbox" name="dias" value="J" checked>
                                </div>
                                <div class="col-md-2">
                                    <label>V</label><br />
                                    <input type="checkbox" name="dias" value="V" checked>
                                </div>
                                <div class="col-md-2">
                                    <label>S</label><br />
                                    <input type="checkbox" name="dias" value="S" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <button class="ui-button" id="buscar_grupos">Buscar</button>
                    </div>
                    <div class="col-md-6">
                        <button class="ui-button">Exportar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="direccion">
    <p id="buscaGrupos">
        @Url.Action("_Grupos", "Grupos", null, Request.Url.Scheme)
    </p>
</div>
<script src="~/JS/Grupos/Busqueda.js"></script>
