@{
    Layout = null;
}
@model Algoritmo02.Clases.Variable
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grupo</title>
</head>
<body>
    <div> 
        <p>@Model.cve_full</p><br />
        <p>@Model.Cve_espacio</p>
    </div>
</body>
</html>
