@section head{
        <script src="~/JS/externos/jquery.tablesorter.min.js"></script>
        <script src="~/JS/Grupos/index.js"></script>
        <link href="~/Styles/TablaGrupos.css" type="text/css" rel="stylesheet" />
    }

@section content{
<div class="row">
    <div class="col-md-12">
        @{Html.RenderAction("_Busqueda", "Grupos");}
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="lista">
        @{Html.RenderAction("_Grupos", "Grupos");}
    </div>
</div>
}