@{ 
    ViewBag.indexJs = "~/JS/Grupos/index.js";
}

<div class="row">
    <div class="col-md-12">
        @{Html.RenderAction("_Busqueda", "Grupos");}
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="lista">
        @{Html.RenderAction("_Grupos", "Grupos");}
    </div>
</div>