<h1>Ejecuta Asignacion</h1>
<form>
    <input type="checkbox" name="operacion" value="e" /><label>Empalmes</label>
    <input type="checkbox" name="operacion" value="p" /><label>Preasignacion</label>
    <input type="checkbox" name="operacion" value="a" /><label>Algoritmo|</label>
</form>