@section head{
    
}

@section content{
    <div class="row"> 
        @{Html.RenderAction("_Busqueda", "Salon");}
    </div>
    <div class="row">
        @{Html.RenderAction("_Salon", "Salon");}
    </div>
}