table{
    margin: 0px auto;
    border-collapse:collapse;
}

.tabla thead {
  cursor: pointer;
}

th{
    border-left:1px solid white;
    border-right:1px solid white;
    background:rgb(220, 228, 249);
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
}

th,td{
    padding-left:5px;
    padding-right:5px;
}

td input{
    width:100%;
}

td button{
    width:30%;
}

tr:nth-child(odd) {
    background-color:#f2f2f2;
}
tr:nth-child(even) {
    background-color:#fbfbfb;
}