<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/index.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div>
        <div class="importacionOpcion">
            @{
                Html.RenderAction("_SeleccionExcel", "Importacion");
            }
        </div>

        <div class="importacionOpcion">
            @{
                Html.RenderAction("_CargaExcel", "Importacion");
            }
        </div>
    </div>
</body>
</html>
