@{
    Layout = null;
}
@model IList<string>
<form method="post" action="@Url.Action("SubirExcel","Home",null, Request.Url.Scheme)" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx, .xls" class="form-control" /> <br />
        <button type="submit" class="btn-block">Subir archivo</button>
</form>
<ul>
    @foreach (string s in Model)
    {
        <li><a href="@Request.Url.AbsoluteUri/Archivos/@s">@s</a></li>
    }
</ul>
<div class="direccion">
    <p id="uploadExcelToDB">
        @Url.Action("CargaExcel_BD","Home", null, Request.Url.Scheme)
    </p>
</div>
<script src="~/JS/_CargaArchivo.js"></script>