@{
    Layout = null;
}
<div class="row">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Horario de accion</div>
            <div class="panel-body">
                <div class="col-md-4 col-md-offset-1">
                    <label>Hora de inicio</label>
                    <input type="number" name="hora_ini" value="7" class="form-control" />
                </div>

                <div class="col-md-4 col-md-offset-2">
                    <label>Hora de Limite</label>
                    <input type="number" name="hora_fin" value="22" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="emp" value="e" id="input_emp" />
                        <u>Empalmes</u>
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="pre" value="p" />Asignacion Preferencial</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="pre_otros_sem" value="f" />Otros semestres</label>
                </div>
            </li>
            <li class="list-group-item">
                <div class="checkbox">
                    <label><input type="checkbox" name="asig" value="a" />Algoritmo Genetico</label>
                </div>
            </li>
            <li class="list-group-item">
                <button id="EjecutaOperaciones" class="btn-block">Ejecutar</button>
            </li>
        </ul>
    </div>
</div>
