@{
    Layout = null;
}
@model List<string> 
<div id="SeleccionExcel">
    <div class="row">
        <div class="col-md-12">
            <label>Archivo: </label><br />
            <div class="row">
                <div class="col-md-9">
                    <select id="archivos" class="form-control">
                        <option>---------</option>
                        @foreach (string exc in Model)
                        {
                            <option>@exc</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <button id="descarga">D</button>
                </div>
                <div class="col-md-1">
                    <button id="descarga">E</button>
                </div>
                <div class="col-md-1">
                    <form method="post" action="@Url.Action("SubirExcel","Home",null, Request.Url.Scheme)" enctype="multipart/form-data">
                        <label for="file"><img src="#" alt="Sube un archivo"/></label>
                        <input type="file" name="file" accept=".xlsx, .xls" class="form-control oculto" />
                    </form>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-6">
                    <label>Hoja: </label>
                    <select id="hojas" class="form-control"></select>
                </div>
                <div class="col-md-6">
                    <label>*Semestre:</label>
                    <input type="text" name="semestre" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <button id="uploadExcel" class="btn-block">Cargar excel en base de datos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="direccion">
        <p id="changeExcel">
            @Url.Action("PaginasExcel", "Home", null, Request.Url.Scheme)
        </p>
        <p id="seleccionaOrigenDatos">
            @Url.Action("SetSession_OrigenDatos", "Home",null, Request.Url.Scheme)
        </p>
    </div>
</div>