<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/index.css" type="text/css" rel="stylesheet"/>
    <link href="~/Styles/externos/jquery-ui.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/externos/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <script src="~/JS/externos/jquery-3.2.1.min.js"></script>
    <script src="~/JS/externos/jquery-ui.min.js"></script>
    <script src="~/JS/index.js"></script>
</head>
<body>
    <div class="container">
        @{ Html.RenderAction("_Menu", "Home"); }
        <div class="container-fluid">
            <div class="row">
                <div id="importacionTabs">
                    <ul>
                        <li><a href="#tab1">Selecciona Origen de datos</a></li>
                        <li><a href="#tab2">Carga Excel</a></li>
                    </ul>
                    <div id="tab1">
                        @{ Html.RenderAction("_SeleccionExcel", "Importacion"); }
                    </div>

                    <div id="tab2">
                        @{ Html.RenderAction("_CargaExcel", "Importacion"); }
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="ejecutaAsignacion">
                </div>
            </div>
        </div>
    </div>
    <br />
</body>
</html>
