@section head{
    <script src="~/JS/Home/index.js"></script>
    <script src="~/JS/Home/_Ejecuta.js"></script>
}

@section content{
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab_1" aria-controls="Excel" role="tab" data-toggle="tab">Base de datos</a>
            </li>
            <li role="presentation">
                <a href="#tab_2" aria-controls="Ejecucion" role="tab" data-toggle="tab">Algoritmo</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab_1">
                @{ Html.RenderAction("_SeleccionExcel", "Home"); }
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_2">
                @{ Html.RenderAction("_Operaciones", "Home");}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Resultado</h3>
        <div id="resConsola"></div>
    </div>
</div>
}

@section directions{
    <p id="Ejecuta">@Url.Action("EjecutaOperaciones", "Home", null, Request.Url.Scheme)</p>
    <p id="Exporta">@Url.Action("Exporta", "Home", null, Request.Url.Scheme)</p>
}