@section head{
    <script src="~/JS/index.js"></script>
}

@section content{
<div id="optionsTabs" class="row">
    <div class="container-fluid">
        <ul>
            <li><a href="#tab_1">Excel</a></li>
            <li><a href="#ejecutaAsignacion">Ejecucion</a></li>
        </ul>
        <div id="tab_1" class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="container-fluid">
                        @{ Html.RenderAction("_CargaExcel", "Home"); }
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        @{ Html.RenderAction("_SeleccionExcel", "Home"); }
                    </div>
                </div>
            </div>
        </div>

        <div id="ejecutaAsignacion" class="container-fluid">
            @{ Html.RenderAction("_Operaciones", "Home");}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Resultado</h3>
        <div id="resConsola"></div>
    </div>
</div>
}