<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Styles/externos/jquery-ui.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/index.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/JS/externos/jquery-ui.min.js"></script>
    <script src="~/JS/index.js"></script>
</head>
<body>
    @Url.Action("")
    <div class="container">
        @{ Html.RenderAction("_Menu", "Home"); }
        <div class="container">
            <div id="importacionTabs" class="row">
                <ul>
                    <li><a href="#tab1">Selecciona Origen de datos</a></li>
                    <li><a href="#tab2">Carga Excel</a></li>
                </ul>
                <div id="tab1">
                    @{ Html.RenderAction("_SeleccionExcel", "Importacion"); }
                </div>

                <div id="tab2">
                    @{ Html.RenderAction("_CargaExcel", "Importacion"); }
                </div>
            </div>
            <div id="ejecutaAsignacion" class="container">
                <!--//TODO: form para el manejo de atributos para la ejecucion del algoritmo
                    //TODO: Javascript para simulacion de la ejecucion del algoritmo (utilizara ajax para realizar todas cada una de las iteraciones por separado y asi informar del avance al usuario)-->
            </div>
        </div>
    </div>
    <br />
</body>
</html>
