<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="OrigenDatos.Properties.Settings.baseDatos" connectionString="Data Source=148.224.93.146\\FINGENIERIA,2433;Initial Catalog=asignacion;Integrated Security =false;Uid = asignacion;Pwd= Asigna#2016Ing;" />-->
    <add name="OrigenDatos.Properties.Settings.baseDatos" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=AsignacionLocal;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
