<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OrigenDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <OrigenDatos.Properties.Settings>
      <setting name="cadenaConexion" serializeAs="String">
        <value>Data Source=(localdb)\ProjectsV13;Initial Catalog=AsignacionLocal;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False</value>
        <!--<value>Data Source=148.224.93.146\\FINGENIERIA,2433;Initial Catalog=asignacion;Integrated Security =false;Uid = asignacion;Pwd= Asigna#2016Ing;</value>-->
      </setting>
    </OrigenDatos.Properties.Settings>
  </applicationSettings>
</configuration>
