@{
    Layout = null;
}

@model string[]

@if (Model.Length != 0)
{
    foreach (string s in Model)
    {
        <option value="@s">@s</option>
    }
}
else
{
    <option value="none">sin conexion</option>
}