@model List<InterfazWeb_02.Models.LibroExcel> 
<div id="SeleccionExcel">
    <div class="row">
        <div class="col-md-7">
            <label>Archivo: </label>
            <select id="archivos">
                <option>---------</option>
                @foreach (InterfazWeb_02.Models.LibroExcel exc in Model)
            {
                    <option>@exc.Nombre</option>
                }
            </select>

            <br />
            <label>Hoja: </label>
            <select id="hojas"></select>
            <br />
            <label>*Semestre:</label>
            <input type="text" name="semestre" />
        </div>
        <div class="col-md-5">
            <input type="radio" name="operacion" value="e" />Usar excel
            <br />
            <input type="radio" name="operacion" value="b" />Usar base de datos
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button id="setSession">Aceptar</button>&nbsp;&nbsp;
            <button id="uploadExcel">Cargar excel en base de datos</button>
        </div>
    </div>
    <div class="direccion">
        <p id="changeExcel">
            @Url.Action("PaginasExcel", "Consultas", null, Request.Url.Scheme)
        </p>
        <p id="seleccionaOrigenDatos">
            @Url.Action("SetSession_OrigenDatos", "Importacion",null, Request.Url.Scheme)
        </p>
    </div>
    <script src="~/JS/_SeleccionaOrigenDatos.js"></script>
</div>