.contenedor{
    border:1px solid #c5c5c5;
    padding: 10px 15px 8px 15px;
}

input[type="number"] 
{ 
    width:100px;
}

h3{
    padding:10px 10px 5px 10px;
    background-color:#EAEDED;
    border-radius:3px;
}

table{
    width:100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing:10px;
}

.separador{
    border-right:1px solid #c5c5c5;
}

.full{
    width:100%;
}

.direccion{
    display:none;
    visibility:hidden;
}

#optionsTabs{
    border:0px;
}

.row{
    margin-bottom:5px;
}

#div_carga{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	background:url("../Imagenes/background.png");
	display:none;
	z-index:1;
}
 
#cargador{
    position:absolute;
    top:50%;
    margin-top: -25px;
}

.boton{
    display: block;
    background-color:aquamarine;
    text-align:center;
    padding:5px 10px;
}